.PictureDetail {
    color: white;
}

.image {
    max-height: 900px;
    width: auto;
}

.marginTop {
    margin-top: 2%;
}

.buttonContainer {
    margin-top: 2%;
    margin-bottom: 1%;
}

@media (max-height: 900px) {
    .image {
        margin-top: 10%;
        max-height: 700px;
        max-width: 500px;
    }
}

@media (max-height: 750px) {
    .image {
        margin-top: 10%;
        max-height: 550px;
        max-width: 350px;
    }
}

@media (max-height: 600px) {
    .image {
        margin-top: 10%;
        max-height: 500px;
        max-width: 300px;
    }
}
