.Pictures {
    color: white;
}

.addButton {
    color: white;
    cursor: pointer;
    padding: 1% 20%;
    text-align: right;
}

.addButton input {
    visibility: hidden;
}

.addButton label {
    cursor: pointer;
    font-size: 15pt;
    font-weight: bold;
}

.imagesList {
    height: 100%;
    width: 80%;
    margin-left: 10%;
}

.imagesContainer {
    height: 100%;
    width: 100%;
    padding-left: 10%;
}

.buttonContainer {
    margin-top: 2%;
    margin-bottom: 1%;
}

@media (max-width: 984px) {
    .imagesContainer {
        padding-left: 12.5%;
    }
}
