.Pictures {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    color: white;
}

.addButton {
    color: white;
    cursor: pointer;
    padding: 1% 0;
    text-align: right;
}

.addButton input {
    visibility: hidden;
}

.addButton label {
    cursor: pointer;
}

.imagesList {
    height: 100%;
    width: 80%;
    margin-left: 10%;
}

.imagesContainer {
    height: 100%;
    width: 100%;
    padding-left: 10%;
}

.loadingGif {
    max-height: 100px;
    width: auto;
    margin-top: 20%;
}

@media (max-width: 984px) {
    .imagesContainer {
        padding-left: 12.5%;
    }
}
