.Pictures {
    color: white;
}

.addButton {
    color: white;
    cursor: pointer;
    text-align: right;
    margin: 0 5% 5% 5%;
}

.addButton input {
    visibility: hidden;
    width: 10px;
}

.addButton label {
    cursor: pointer;
    font-size: 15pt;
    font-weight: bold;
}

.buttonContainer {
    margin-top: 2%;
    margin-bottom: 1%;
}
