.Home {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: #2c2c2c;
    color: white;
    text-align: center;
    padding-top: 5%;
}

.card {
    background-color: white;
    padding: 10%;
    color: #2c2c2c;
    margin-top: 20%;
    height: 150px;
    cursor: pointer;
}

.card h1 {
    margin-top: 15%;
}
