.Home {
    color: white;
    text-align: center;
    padding-top: 5%;
}

.card {
    background-color: white;
    color: #2c2c2c;
    margin: 10% 5% 5% 5%;
    min-height: 120px;
    min-width: 130px;
    max-width: 250px;
    cursor: pointer;
    text-align: center;
}

.card h1 {
    line-height: normal;
    vertical-align: middle;
    display: inline-block;
}

@media (min-width: 750px) {
    .card {
        margin-left: 17.5%;
    }
}

@media (min-width: 1000px) {
    .card {
        margin-left: 27%;
    }
}

@media (min-width: 1200px) {
    .card {
        margin-left: 40%;
        margin-top: 5%;
    }
}
