.Login {
    height: auto;
    width: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: #2c2c2c;
    flex-grow: 1;
}

.backgroundImage {
    background: url("../../assets/images/background.jpg") no-repeat center fixed #2c2c2c;
    background-size: contain;
}

.LoginPaperGrid {
    background-color: transparent !important;
    transition: none !important;
    box-shadow: none !important;
    text-align: center;
    top: 65%;
    left: 27.5%;
    right: 30%;
    position: absolute;
}

.fullHeight {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.GoogleLogo {
    height: 3rem;
}
